* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #eee;
}

hr { 
    background-color: #eee;
    height: 1px;
    border: 0; 
    }

/* HEADER */
header{
    padding: 15px;
    background-color: white;
}
h1{
    font-weight: 900;
    display: inline-block;
}

.logo{
    vertical-align: middle;
    display: inline-block;
}

/* LAYOUT */
.container{
    width: 70%;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

/* MENù */
.menù{
    padding: 20px;
    margin-left: 50px;
    font-size: 10px;
}

.button1{
    padding: 3px;
    color: white;
    background-color: rgb(74, 191, 230);
    border: 1px solid rgb(74, 191, 230);
    border-radius: 5px;
}

.button2{
    padding: 3px;
    color: grey;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

/* MAIN CONTENT */
h2{
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

.sezione{
    margin-left: 60px;
}

.list-item{
    margin-bottom: 20px;
    list-style: none;
}

.arrow{
    font-size: 25px;
}

.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color:green;
    border: 1px solid green;
    border-radius: 50%;
}

.remove{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color:red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 10px;
}

.editorial{
    display: inline-block;
    padding: 3px;
    color:white;
    background-color: rgb(74, 191, 230);
    border: 1px solid rgb(74, 191, 230);
    border-radius: 10px;
    font-size: 10px;
}

.goals{
    display: inline-block;
    padding: 3px;
    color:white;
    background-color: rgb(232 53 232);
    border: 1px solid rgb(232 53 232);
    border-radius: 10px;
    font-size: 10px;
}

.recruiting{
    display: inline-block;
    padding: 3px;
    color:white;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 10px;
}

.mobile{
    display: inline-block;
    padding: 3px;
    color:white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 10px;
}

.website{
    display: inline-block;
    padding: 3px;
    color:white;
    background-color: violet;
    border: 1px solid violet;
    border-radius: 10px;
    font-size: 10px;
}

.sales{
    display: inline-block;
    padding: 3px;
    color:white;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 10px;
    font-size: 10px;
}